[mcu display]
#0483:df11
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_210001000143535031303820-if00
restart_method: command

[display]
lcd_type: sh1106
i2c_mcu: display
i2c_bus: i2c1a
encoder_pins: ^display:PA3, ^display:PA4
click_pin: ^!display:PA1
kill_pin: ^!display:PA5


###################### menu main ######################
[menu __main]
type: list
name: Main
######################menu octoprint ######################
[menu __main __octoprint]
type: list
name: Klipper

[menu __main __octoprint __pause]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Pause printing
gcode:
    {action_respond_info('action:pause')}

[menu __main __octoprint __resume]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Resume printing
gcode:
    {action_respond_info('action:resume')}

[menu __main __octoprint __abort]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Abort printing
gcode:
    {action_respond_info('action:cancel')}

###################### menu control ######################
[menu __main __control]
type: list
name: Control

[menu __main __control __home]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Home All
gcode: G28

[menu __main __control __homez]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Home Z
gcode: G28 Z

[menu __main __control __homexy]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Home X/Y
gcode: G28 X Y

[menu __main __control __disable]
type: command
name: Steppers off
gcode:
    M84
    M18

[menu __main __control __caselightonoff]
type: input
enable: {'output_pin caselight' in printer}
name: Lights: {'ON ' if menu.input else 'OFF'}
input: {printer['output_pin caselight'].value}
input_min: 0
input_max: 1
input_step: 1
gcode:
    SET_PIN PIN=caselight VALUE={1 if menu.input else 0}

[menu __main __control __caselightpwm]
type: input
enable: {'output_pin caselight' in printer}
name: Lights: {'%3d' % (menu.input*100)}%
input: {printer['output_pin caselight'].value}
input_min: 0.0
input_max: 1.0
input_step: 0.01
gcode:
    SET_PIN PIN=caselight VALUE={menu.input}

###################### menu temperature ######################
[menu __main __temp]
type: list
name: Temperature

[menu __main __temp __preheat_pla]
type: list
name: Preheat PLA

[menu __main __temp __preheat_pla __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S60
    M104 S200

[menu __main __temp __preheat_abs]
type: list
name: Preheat ABS

[menu __main __temp __preheat_abs __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S110
    M104 S245

[menu __main __temp __cooldown]
type: list
name: Cooldown

[menu __main __temp __cooldown __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Cooldown all
gcode:
    M104 S0
    M140 S0

##################### menu filament ######################
[menu __main __filament]
type: list
name: Filament

[menu __main __filament __loads]
type: command
name: Load Filament
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    G91
    G1 E60 F300
    G1 E-1 F300
    RESTORE_GCODE_STATE NAME=__filament__load

[menu __main __filament __unloads]
type: command
name: Unload Filament
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    G91
    G1 E1 F1500    
    G1 E-80 F300
    RESTORE_GCODE_STATE NAME=__filament__load

###################### disabled menus ###################### 
[menu __main __setup]
type: disabled
[menu __main __tune]
type: disabled
[menu __main __sdcard]
type: disabled
[menu __main __control __fanonoff]
type: disabled
[menu __main __control __fanspeed]
type: disabled
[menu __main __control __move_10mm]
type: disabled
[menu __main __control __move_1mm]
type: disabled
[menu __main __control __move_01mm]
type: disabled   
[menu __main __temp __hotend0_target]
type: disabled
[menu __main __temp __hotend1_target]
type: disabled
[menu __main __temp __hotbed_target]
type: disabled
[menu __main __temp __preheat_pla __hotend]
type: disabled
[menu __main __temp __preheat_pla __hotbed]
type: disabled
[menu __main __temp __preheat_abs __hotend]
type: disabled
[menu __main __temp __preheat_abs __hotbed]
type: disabled
[menu __main __temp __preheat_abs __hotend]
type: disabled
[menu __main __temp __preheat_abs __hotbed]
type: disabled
[menu __main __temp __cooldown __hotend]
type: disabled
[menu __main __temp __cooldown __hotbed]
type: disabled
[menu __main __filament __hotend0_target]
type: disabled
[menu __main __filament __loadf]
type: disabled
[menu __main __filament __unloadf]
type: disabled

