[fan]
#[fan_generic fan0]
#Fan0
pin: EBBCan: PA1
max_power: 1.0
kick_start_time: 0.5                   
off_below: 0.13
cycle_time: 0.01
hardware_pwm: false

[heater_fan hotend_fan]
#Fan1
pin: EBBCan:PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[heater_fan nevermore_filter_fans]
#Fan3
pin: gpio17
max_power: 1.0
heater: heater_bed
kick_start_time: 0.5
off_below: 0.10
hardware_pwm: false

[filter_monitor nevermore_air_filter]
fan:  fan_generic bed_filter # e.g fan_generic bed_filter, heater_generic heated_chamber, etc
max_runtime_hours: 50 # Defaults to 50 hours
max_days: 60 # Defaults to 30 days
interval: 30 # Defaults to 30 seconds
stats_caption: ""
# Output override for FILTER_STATS macro. Defaults to "<filter_name> at". e.g. Air Filter at 98%
expiry_gcode: # Executed when filter meets threshold condition
path: ~/printer_data/config/plugins/filter_monitor # Folder where filter data is stored
[gcode_macro Nevermore_Filter_Stats]
gcode:
  FILTER_STATS NAME=nevermore_air_filter [EXTENDED=1]
[gcode_macro Reset_Nevermore_Filter]
gcode:
  RESET_FILTER NAME=nevermore_air_filter


#[gcode_macro M106]
#gcode:
#    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
#    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
#    SET_FAN_SPEED FAN={fan} SPEED={speed}

[temperature_fan electronic_fans]
#Fan2
sensor_type: temperature_host
pin: gpio18
max_temp: 75.0       
target_temp: 55.0
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.0
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

[fan_generic Bed_Fan]
pin:  gpio20
#cycle_time: 0.05
kick_start_time: 0.5
hardware_pwm: false

[gcode_macro _BEDFANVARS]
variable_threshold: 100		# If bed temp target is above this threshold, fans will be enabled. If temp is set to below this threshold, fans will be disabled.
variable_fast: 0.5		    # Fan speed once bed temp is reached
variable_slow: 0.2		    # Fan speed while bed is heating
gcode:

[gcode_macro BEDFANLOW]
gcode:
	{% set SLOW = printer["gcode_macro _BEDFANVARS"].slow|float %}
	SET_FAN_SPEED FAN=Bed_Fan SPEED={SLOW}

[gcode_macro BEDFANFAST]
gcode:	
	{% set FAST = printer["gcode_macro _BEDFANVARS"].fast|float %}	
	SET_FAN_SPEED FAN=Bed_Fan SPEED={FAST}

[gcode_macro BEDFANOFF]
gcode:
	SET_FAN_SPEED FAN=Bed_Fan SPEED=0

############ Command overrides ############
# Override, set fan speed to low and start monitoring loop.
[gcode_macro SET_HEATER_TEMPERATURE]
rename_existing: _SET_HEATER_TEMPERATURE
gcode:
	# Parameters
	{% set HEATER = params.HEATER|default("None") %}
	{% set TARGET = params.TARGET|default(0)|int %}
	# Vars
	{% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|int %}
	
	{% if HEATER|lower == "extruder" %}
		M104 S{TARGET}
	{% elif HEATER|lower == "heater_bed" %}
		M99140 S{TARGET}
	{% else %}
		{action_respond_info("Heater %s not supported" % HEATER)}
	{% endif %}

	# Set fans to low if heater_bed temp is requested above threshold temp, and kick off monitoring loop.
	{% if HEATER|lower == "heater_bed" %}
		{% if TARGET >= THRESHOLD %}
			BEDFANLOW
			UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=1
		{% else %}
			BEDFANOFF
			UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=0 #	Cancel bed fan loop if it's running
		{% endif %}
	{% endif %}
	
# Override M190 (Wait for Bed Temperature)
# As a bonus, use TEMPERATURE_WAIT so we don't have to wait for PID to level off.
[gcode_macro M190]
rename_existing: M99190
gcode:
	# Parameters
	{% set S = params.S|int %}
	# Vars
	{% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|int %}
	
	{% if S >= THRESHOLD %}
		BEDFANLOW																# >= Threshold temp: Low speed fans while heating 
	{% else %}
		BEDFANOFF																# < Threshold temp: Turn bed fans off
	{% endif %}                                        

	M140 {% for p in params
	  %}{'%s%s' % (p, params[p])}{%
	  endfor %}																	# Set bed temp
	  
	{% if S != 0 %}
		TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S|int} MAXIMUM={S|int + 5}	# Wait for bed temp within 5 degrees
	{% endif %}

	# Post-heating fan speeds
	{% if S >= THRESHOLD %}								    
		BEDFANFAST																# >= Threshold temp: Higher speed fans after heating finished
	{% endif %}
	
# Replace M140 (Set Bed Temperature) to just be an alias of SET_HEATER_TEMPERATURE (which has associated bed fan logic if enabled)
[gcode_macro M140]
rename_existing: M99140
gcode:
	# Parameters
	{% set S = params.S|float %}
	
	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={S}
	
# Replace TURN_OFF_HEATERS
[gcode_macro TURN_OFF_HEATERS]
rename_existing: _TURN_OFF_HEATERS
gcode:
	BEDFANOFF
	_TURN_OFF_HEATERS
	
################ Monitoring loop #####################

# Turns bed fan to "fast" speed once target bed temp is reached.
[delayed_gcode bedfanloop]
gcode:
	# Vars
	{% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|int %}
	
	{% if printer.heater_bed.target >= THRESHOLD %}								# Continue only if target temp greater than threshold.
		{% if printer.heater_bed.temperature|int >= (printer.heater_bed.target|int - 1) %}
			BEDFANFAST															# If within 1 degree of target temp: Higher speed fans
		{% else %}
			UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=5						# If temp not reached yet: loop again
		{% endif %}
	{% endif %}