[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
#pwm_cycle_time: 0.02227 # 44.9Hz
max_power: 1
min_temp: 0
max_temp: 130
max_temp: 150

[gcode_macro PID_BED]
gcode:
      G28
      PID_CALIBRATE HEATER=heater_bed TARGET=100
      TURN_OFF_HEATERS
      SAVE_CONFIG

[gcode_macro PID_EXTRUDER]
gcode:
      G28
      PID_CALIBRATE HEATER=extruder TARGET=245
      M106 S75
      TURN_OFF_HEATERS
      SAVE_CONFIG 

[output_pin chamber_heater]
pin: rpi:gpio17
value: 0
shutdown_value: 0

[gcode_macro M191]
gcode:


[gcode_macro M141]
gcode:
     RESPOND TYPE=command MSG='Heating Chamber'
     SET_PIN PIN=chamber_heater VALUE=1  