##########################
#    STATUS MACROS       #
##########################
#Chamber_Lights_Off
#Chamber_Lights_On
#_set_logo_leds_off
#_set_logo_leds_on
#_set_nozzle_leds_off
#_set_nozzle_leds_on
#_status_off
#_status_ready
#_status_part_ready
#_status_busy
#_status_heating
#_status_cooling
#_status_homing
#_status_cleaning
#_status_printing

[output_pin caselight]
pin: gpio23
pwm: true
cycle_time: 0.010
value: 1
shutdown_value: 0

#[static_digital_output onboardLED]
#pins: !expander:PA4

[neopixel displayStatus]
pin: display:PA0
chain_count: 1
color_order: GRB
initial_RED: 1
initial_GREEN: 0
initial_BLUE: 0

[neopixel skirt_leds]
pin: gpio24
chain_count: 2
color_order: GRB
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
#LEDs
# 1 Left front skirt
# 2 Right front skirt


[led_effect busy]
autostart: false
frame_rate: 24
leds:
    neopixel:skirt_leds
layers:
      breathing  3 1 top (1,0,0)

[led_effect cleaning]
autostart: false
frame_rate: 24
leds:
    neopixel:skirt_leds
layers:
      breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect heating]
autostart: false
frame_rate: 24
leds:
    neopixel:skirt_leds
layers:
      breathing  3 1 top (1, 0.18, 0)

[led_effect cooling]
autostart: false
frame_rate: 24
leds:
    neopixel:skirt_leds
layers:
      breathing  3 1 top (0, 0, 1)

[led_effect homing]
autostart: false
frame_rate: 24
leds:
    neopixel:skirt_leds
layers:
      breathing  3 1 top (1, 0, 0)

[led_effect printing]
autostart: false
frame_rate: 24
leds:
    neopixel:skirt_leds
layers:
      gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect standby]
autostart: false
frame_rate: 24
leds:
    neopixel:skirt_leds
layers:
      breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect part_ready]
autostart: false
frame_rate: 24
leds:
    neopixel:skirt_leds
layers:
      breathing  3 1 top (0.0, 1.0, 0.0)
    
#####################
## all led effects ##
#####################

[led_effect sb_critical_error]
autostart:  false
frame_rate: 24
run_on_error: true
leds:
    neopixel:skirt_leds
layers:
     strobe         1  1.5   add        (1.0,  1.0, 1.0)
     breathing      2  0     difference (0.95, 0.0, 0.0)
     static         1  0     top        (1.0,  0.0, 0.0)

[led_effect front_status]
autostart: true
frame_rate: 24
leds:    
    neopixel:skirt_leds
layers:
     static         1  0     top        (1.0,  0.0, 0.0)

#######################
# LED Effects Statics #
#######################

[led_effect set_leds]
autostart: false
frame_rate: 24
leds:
    neopixel:skirt_leds
layers:
      static         0  0     top        (1.0,  1.0, 1.0)

##############
# The Macros #
##############
[gcode_macro Chamber_Lights_Off]
gcode:
     SET_PIN PIN=caselight VALUE=0

[gcode_macro Chamber_Lights_On]
gcode:
     SET_PIN PIN=caselight VALUE=1

[gcode_macro _status_off]
gcode:
     STOP_LED_EFFECTS
     Chamber_Lights_Off

[gcode_macro _status_ready]
gcode:
     STOP_LED_EFFECTS
     Chamber_Lights_On

[gcode_macro _status_part_ready]
gcode:
     STOP_LED_EFFECTS
     SET_LED_EFFECT EFFECT=part_ready
     Chamber_Lights_Off
     
[gcode_macro _status_busy]
gcode:
     STOP_LED_EFFECTS
     SET_LED_EFFECT EFFECT=busy  
     Chamber_Lights_On

[gcode_macro _status_heating]
gcode:
     STOP_LED_EFFECTS
     SET_LED_EFFECT EFFECT=heating      
     Chamber_Lights_On

[gcode_macro _status_cooling]
gcode:
     STOP_LED_EFFECTS
     SET_LED_EFFECT EFFECT=cooling
     Chamber_Lights_On

[gcode_macro _status_homing]
gcode:
     STOP_LED_EFFECTS
     SET_LED_EFFECT EFFECT=homing
     Chamber_Lights_On

[gcode_macro _status_cleaning]
gcode:
     STOP_LED_EFFECTS
     SET_LED_EFFECT EFFECT=cleaning
     Chamber_Lights_On

[gcode_macro _status_printing]
gcode:
     STOP_LED_EFFECTS
     SET_LED_EFFECT EFFECT=printing     
     Chamber_Lights_On