[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
interpolate: False
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999
diag_pin: ^gpio4 
driver_SGTHRS: 50

### SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_x VALUE=255

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
interpolate: False
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999
diag_pin: ^gpio3
driver_SGTHRS: 50

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
interpolate: False
run_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: EBBCan: PA15
#tx_pin: gpio8
#uart_address: 3
interpolate: False
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999